* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.main-container {
    width: 100%;
    min-height: 100vh;
}

.navbar {
    background-color: blanchedalmond;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px 1px gainsboro;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    padding: 0 3%;
}

.logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-style {
    height: 60px;
}

.logo-name {
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pages {
    width: auto;
}

.page-link {
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'Lucida Sans';
}

.page-link-a {
    text-decoration: none;
    color: black;
    transition: 0.1s;
    display: inline-block;
}

.page-link a:hover {
    transform: scale(1.1);
}

.page-link-btn {
    border: none;
    background-color: blanchedalmond;
    font-size: 1.5rem;
    font-family: 'Lucida Sans';
    cursor: pointer;
}
.footer-part{
            background-color: black;
            color: white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 1rem 2%;
        }
        .footer-sub-part{
            flex: 1 1 350px;
            margin: 1rem;
            
        }
        .footer-links{
            list-style: none;
            font-size: 1rem;

            
        }
        .footer-li{
            margin: 15px;
            font-size: 20px;
        }
        .footer-links-a{
            text-decoration: none;
            transition: 0.1s;
            color: white;
            margin: 20px 1 0px;
        }
        .footer-links-a:hover {
            color: #ffcc00;
        }